extends layout

block content
  h1= title

  .container-fluid
    .row  
      -
        let items = results
      
      each item in items
        .col-sm-2
          .item
            h3= item.name
            p Finish: #{item.finish}
            p Price: #{item.price}